#dashboard {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.welcome {
  font-size: 20px;
  font-weight: bold;  
  color: #000000;
  margin: 0;
}

.info {
  font-size: 15px;
  color: #686363;
  font-weight: medium;
  margin: 0;
}

.create-event-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #6b38ff; 
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: medium;
  padding: 10px 20px;
}

.create-event-btn:hover {
  background-color: #5028cc;
}