#dashboard {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.welcome {
  font-size: 20px;
  font-weight: bold;  
  color: #333;
  padding-left: 20px;
  padding-right:50px;
  margin: 0;
}

.info {
  font-size: 15px;
  color: #686363;
  font-weight: medium;
  padding-right:50px;
  margin-left: 35px;
}
.create-event-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #6c41b2; 
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: medium;
  padding: 10px 20px;
}

.create-event-btn:hover {
  background-color: #6c41b2cc;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.section-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-shadow: #fdfdfd;
  font-size: 30px;
}