/* InvitedEventDetails.css */
#invited-event-details {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}


.layout-grid {
  display: grid;
  grid-template-columns: minmax(600px, 1fr) 380px;
  gap: 25px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 80px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.card3 {
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card3:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

/* Event Card */
.event-card2 {
  padding: 35px 40px;
}

.name {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin: 0 0 8px 0;
  text-align: left;
}

.subtitle {
  color: #9ca3af;
  font-size: 15px;
  margin: 0 0 35px 0;
  text-align: left;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 60px;
}

.info-item2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 13px;
  color: #5b21b6;
  margin: 0;
  font-weight: 500;
}

.value {
  font-weight: 600;
  color: #000;
  font-size: 15px;
  margin: 0;
}



.attendance-card {
  background: #ede9fea3;
}


.attendance-card h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 20px 0;
  color: #000;
  text-align: center;
}

.attendance-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn {
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  font-size: 15px;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: scale(0.90);
  opacity: 0.6;
  font-weight: bold;
}

.going-btn {
  background: #d0c5fc;
  color: #8654d6;
}

.going-btn.active {
  transform: scale(0.99);
  font-weight: bold;
  background: #8654d6;
  color: white;
}

.maybe-btn {
  background: #c4b5fd;
  color: #5b21b6;
}

.maybe-btn.active {
  transform: scale(0.99);
  font-weight: bold;
  background: #5b21b6;
  color: white;

}

.not-going-btn {
  background: #fca5a5;
  color: #991b1b;
}

.not-going-btn.active {
  transform: scale(0.99);
  font-weight: bold;
  background: #cb2e2e;
  color: white;
}

.attendance-card {
  width: 100%;
  max-width: 1300px;
  width: 800px;
  margin: 0 auto 25px auto;
  padding: 30px 80px;
  box-sizing: border-box;
}


/* Responsive adjustments */
@media (max-width: 1200px) {
  .layout-grid {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }

  .summary-card {
    max-width: 100%;
  }

  .attendance-card,
  .attendees-card {
    padding: 30px 40px;
  }

  .back-btn {
    margin-left: 30px;
  }
}