#navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #e5dbff;

}

.title {
  margin: 0;
  color: #6237a7;
}

.title:hover {
 color: rgb(74, 37, 186);
  cursor: pointer;
}

.center-buttons {
  display: flex;
  gap: 15px;
}


.nav-btn {
  padding: 5px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(251, 248, 253); 
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.nav-btn:hover {
  background: #6237a7;   
  color: white;          
}

.logout {
  padding: 8px 16px;
  font-weight: bold;
  color: #6237a7;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: medium;
}

.logout:hover {
  background: #f32e02;   
  color: white;          
}
