.search-section {
  background-color: #ffffff;
  border: 2px medium #7c7777;
  border-radius: 20px;
  padding: 10px 15px 15px 15px; 
  margin-top: 30px;  
  box-shadow: #00000033 0px 4px 12px;
  
}

.search-header {
  margin-bottom: 20px;
  text-align: left;
}

.search-header h3 {
  margin: 0;
  font-size: 20px;
  color: #000000;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
}

.advanced-search {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: stretch;
  padding-left: 20px;
  padding-right: 20px;
}

.search-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-field label {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  text-align: left;
}

.search-field input,
.search-field select {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #e0e0e0;
  font-size: 14px;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s;
}

.search-field input:focus,
.search-field select:focus {
  border-bottom-color: #6c41b2;
}

.search-field input::placeholder {
  color: #999999;
}

.search-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.create-filter-btn {
  padding: 8px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}


.search-btn {
  padding: 8px 30px;
  border: none;
  border-radius: 6px;
  background-color: #6c41b2;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.search-btn:hover {
  background-color: #6c41b2cc;
}